.env
.env.bak
data/crowdsec
data/grafana/data
data/mysql
data/portainer
data/prometheus/data
data/vscode
data/traefik/acme.json
logs/traefik/*
secrets/*

stacks/*
!stacks/newstack.sh
!stacks/README.md

dev/*

